@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    transition: all;
}

[x-cloak] {
    display: none;
}

.fancy {
    border-radius: 50%;
    background: linear-gradient(145deg, #1c2532, #212c3b);
    box-shadow:  17px 17px 38px #0c1016,
             -17px -17px 38px #324258;
}

.fancy:hover {
    background: #1f2937;
    box-shadow: inset 17px 17px 38px #0c1016,
            inset -17px -17px 38px #324258;
}

.bordered {
    background: #1f2937;
    box-shadow: inset 17px 17px 38px #0c1016,
            inset -17px -17px 38px #324258;
}

.popping {
    background: linear-gradient(145deg, #1c2532, #212c3b);
    box-shadow:  17px 17px 38px #0c1016,
             -17px -17px 38px #324258;
}